.{
    padding: 10px;
    margin-left 100px;
}
header{
    border-bottom: 1px solid rgb(104, 98, 98);
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    height: 50px;
    margin-left: 20px;
    

}

#logo{
    font-size: 28px;
    color: black;
    text-decoration: none;
}
#nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    align-items : center;
    gap: 20px;

}
.navlink{
    color: rgb(66, 60, 60);
    text-decoration: none;
}
h1{
    font-size: 40px;
    margin-bottom: 24px;
    margin-left: 20px;
}
p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin-left: 20px;
}
#section1{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    margin-top: 30px;

}
#sectionlinks{
    margin-top: 30px;
    margin-left: 40px;
}
img{
    width: 40%;
    border-radius: 8px;
    margin: 20px;
}
.primarylink{
    background-color: rgb(10, 10, 10);
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;

}
.primarylink1{
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    color:black;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 8px;
    text-decoration: none;

}
